@model CRMSystem.Models.User

@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Login</title>
    </head>
    <body>
        <form asp-cntrller="User" asp-action="Login" method="post">
            <h1>Login</h1>
            <input type="Username" placeholder="Username" asp-for="Username"/>
            <input type="Password" placeholder="Password" asp-for="Password"/>
            <button type="submit">Login</button>

            @if(ViewData["ValidateMessage"] != null)
            {
                <br />
                <br />
                <label>@ViewData["ValidateMessage"]</label>
            }
        </form>    
    </body>
</html>